*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* be-vietnam-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/be-vietnam-pro-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/be-vietnam-pro-v12-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/be-vietnam-pro-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --orange-400: hsl(12, 88%, 59%);
  --blue-950: hsl(228, 39%, 23%);
  --gray-950: hsl(233, 12%, 13%);
  --orange-50: hsl(13, 100%, 96%);
  --gray-50: hsl(0, 0%, 98%);
  --txt-tone: hsl(220, 4%, 69%);
}

html {
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  /* TODO: NEED TO CHECK WITH THE DESIGN */
  background-color: #fff;
}

/* -------------- CONTAINER SECTION */
.container {
  padding-block: 4rem;
  padding-inline: 7rem;
}

.container img {
  display: block;
}

h1,
h2,
h3,
p {
  margin-block: 2rem;
}

section {
  padding-bottom: 10rem;
}

/* -------------- HERO SECTION */
.hero-section {
  display: flex;
  row-gap: 8rem;
  flex-direction: column;
}

.navigation {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  column-gap: 2rem;
}

.btn {
  display: inline-block;
  font-weight: 500;
  background: var(--orange-400);
  color: var(--gray-50);
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 50px;
  font-size: 1rem;
  box-shadow: 0 6px 12px rgba(242, 92, 42, 0.35);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}

.heading-text {
  font-size: 4rem;
  line-height: 1.25;
  letter-spacing: -3px;
  color: var(--blue-950);
}

.sub-text {
  width: 65%;
  font-size: 0.99em;
  line-height: 2;
  color: var(--txt-tone);
}

.hero-image {
  display: block;
  width: 100%;
}

.controls {
  display: none;
}

/* -------------- FEATURES SECTION */
.features-section .sub-text {
  width: unset;
}

.features-section .mb-heading-3-text,
.features-section .dt-heading-3-text {
  margin: unset;
}

.feature-main-container .sub-text {
  width: 80%;
}

.heading-2-text {
  font-size: 2.4rem;
  margin: unset;
}

.features-section {
  display: grid;
  column-gap: 10rem;
  grid-template-columns: 1fr 1fr;
}

.feature-list-item {
  display: grid;
  align-items: start;
  column-gap: 1.5rem;
  grid-template-columns: auto 1fr;
}

.features-description {
  grid-column-start: 2;
}

.feature-list-index {
  font-size: 1.05rem;
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
  font-weight: 500;
  background-color: var(--orange-400);
  color: var(--gray-50);
}

h3[class="mb-heading-3-text"] {
  display: none;
}

/* -------------- Testimonials SECTION */
.testimonial-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  row-gap: 7rem;
  column-gap: 2rem;
  position: absolute;
  left: 0;
}

.testimonial-section .heading-2-text {
  grid-column: 1 / -1;
}

.testimonial {
  background-color: var(--gray-50);
  position: relative;
  padding: 0 2rem;
}

.testimonial h3 {
  margin-top: 3.5rem;
}

.testimonial .profile-image {
  width: 4.5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------------------- MEDIA QUERIES: SM
@media screen and (max-width: 24rem) {
}
/* ------------------- MEDIA QUERIES: LG */
@media (max-width: 48rem) {
  html {
    font-size: 14px;
  }

  .container {
    padding-block: 1rem;
    padding-inline: 1.5rem;
    overflow-x: hidden;
  }

  .hero-section {
    row-gap: 4rem;
  }

  .hero-image {
    display: block;
    transform: scale(1);
  }

  .navigation .nav-links,
  .navigation .btn {
    display: none;
  }

  .controls {
    display: block;
  }

  .hero-container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sub-text {
    margin-inline: auto;
  }

  .features-section {
    grid-template-columns: 1fr;
  }

  .feature-main-container {
    text-align: center;
  }
  .features-description {
    grid-column-start: 1;
  }

  h3[class="mb-heading-3-text"] {
    display: block;
    flex-grow: 1;
    text-align: center;
    font-size: 1.33rem;
  }

  h3[class="dt-heading-3-text"] {
    display: none;
  }

  .feature-list-heading {
    display: flex;
    align-items: center;
    background-color: var(--orange-50);
    position: relative;
  }

  .feature-list-heading::after {
    content: "";
    width: 200px;
    height: 24px;
    background-color: var(--orange-50);
    /* background-color: black; */
    position: absolute;
    right: -100px;
    z-index: -1;
  }

  .features-section > div {
    margin-bottom: 2rem;
  }

  .feature-list-item {
    margin-bottom: 1.33rem;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 10px;
  }
}
